<div class="nav">
  <div id="top-nav">
    <div class="scroll" style="--time: 40s">
      <div>
        <span (click)="this.rutas.irInicio()">Inicio</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span *ngIf="!isLoggedIn" (click)="this.rutas.irRegistro()">Registro</span><span *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span (click)="this.rutas.irInfo()">Información</span>
        <img *ngIf="mostrar" src="assets/img/wheel.png" class="rueda">
        <span *ngIf="mostrar" (click)="this.rutas.irInicio()">Inicio</span>
        <img *ngIf="mostrar" src="assets/img/wheel.png" class="rueda">
        <span *ngIf="!isLoggedIn && mostrar" (click)="this.rutas.irRegistro()">Registro</span><span *ngIf="isLoggedIn && mostrar" (click)="logout()">Cerrar sesión</span>
        <img *ngIf="mostrar" src="assets/img/wheel.png" class="rueda">
        <span *ngIf="mostrar" (click)="this.rutas.irInfo()">Información</span>
        <img *ngIf="mostrar" src="assets/img/wheel.png" class="rueda">
      </div>
      <div *ngIf="mostrar">
        <span (click)="this.rutas.irInicio()">Inicio</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span *ngIf="!isLoggedIn" (click)="this.rutas.irRegistro()">Registro</span><span *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span (click)="this.rutas.irInfo()">Información</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span (click)="this.rutas.irInicio()">Inicio</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span *ngIf="!isLoggedIn" (click)="this.rutas.irRegistro()">Registro</span><span *ngIf="isLoggedIn" (click)="logout()">Cerrar sesión</span>
        <img src="assets/img/wheel.png" class="rueda">
        <span (click)="this.rutas.irInfo()">Información</span>
        <img src="assets/img/wheel.png" class="rueda">
      </div>
    </div>
  </div>
  <div *ngIf="!mostrar" class="navmark">
    <img src="assets/img/logo.png">
  </div>
</div>
<div class="info" id="info">
  <div id="info-logo">
      <img src="assets/img/logo.png" id="info-logo1">
  </div>
  <div class="info-text">
      <h1>Chupa Bikers</h1>
      <h2>Versión 0.1.0 (091224D)</h2>
      <p>&nbsp;</p>
      <p>Chupa Bikers está destinado a la comunidad de ciclismo de montaña y público en general que tiene interés en participar en desafíos de bicicleta.</p>
      <p>&nbsp;</p>
      <h2>Contáctanos</h2>
      <p>chupabikers&#64;gmail.com</p>
  </div>
</div>